
 @import url("https://use.typekit.net/lsj2acj.css");


:root{
	--size-0: calc((var(--size-1) * 0.8));
	--size-1: 1rem;
	--size-2: calc((var(--size-1) * 1.2));
	--size-3: calc((var(--size-1) * 1.8));
	--size-4: calc((var(--size-1) * 2));

	--border-radius:0 ;
	--border-style: dashed var(--primary-color) 0.08rem;

	--font-mono: "attribute-mono", sans-serif;
	--font-serif: "legitima", serif;
	--font-deco: "rafaella", sans-serif;

	--primary-color: #000000;
	--secondary-color: #ecece9;
	--third-color: #dbdbd3;
	--forth-color: #8b8b8b;

	font-size: 120%;

}
body {
    font-family: var(--font-serif);
	font-size: var(--size-1);
	padding: var(--spacing);
	height: 100vh;
	display: flex; 
	align-items: center;
	background-color: var(--secondary-color);

	.main-cta, .secondary-cta {
		border-radius: var(--border-radius);
		padding-inline: var(--size-2);
		padding-block: var(--size-0);
		width: fit-content;
		font-weight: bold;
	}
	
	.main-cta {
		background-color: var(--primary-color);
		color: var(--secondary-color);
	}
	
	.secondary-cta{
		background-color: var(--secondary-color);
		border: var(--border-style);
		color: var(--primary-color);
	}
}


#intro, #intro form, #intro form #input section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


#intro {
	width: 90%;
	margin: auto;
	padding: var(--size-3);
	border-radius: var(--border-radius);
	gap: var(--size-4);
	/* border: var(--border-style); */
	hgroup{

		display: flex;
		flex-direction: column;
		gap: var(--size-1);

		h1{
			font-family: var(--font-deco);
			font-size: var(--size-4);
			line-height: var(--size-4);
		}

		h2{
			font-size: var(--size-2);
			line-height: var(--size-2);
			opacity: 0.8;
		}
	}

	form {
		#input{
			gap: var(--size-3);
			border: var(--border-style);
			padding: var(--size-1);
		
			section{
				gap: var(--size-1);

				label{
					font-family: var(--font-mono);
					text-transform: uppercase;
					font-size: var(--size-0);
					color: var(--forth-color);
					text-align: center;
				}

				#occasion, #alc-scale, #adv-scale{
					background-color: var(--third-color);
					width: 100%;
				}

				#occasion{
					text-align: center;
					font-size: var(--size-1);
					padding: var(--size-0);
				}


				/* styling the thumb: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_rangeslider */
				#alc-scale::-webkit-slider-thumb, #adv-scale::-webkit-slider-thumb {
						appearance: none;
						width: var(--size-3);
						height: var(--size-1);
						background: var(--primary-color);
						cursor: pointer;
					}
			}
		}
		
	}

	@media (width > 1000px) {
		width: 60%;
	}


}

form {
	display: flex;
	flex-direction: column;
	gap: var(--size-2);
	
	#input{
		border-radius: var(--border-radius);
		display: grid;
		gap: var(--size-2);
		padding-block: var(--size-2);
		height: fit-content;
	}
	
}

#glass-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	object-fit: cover;
	z-index: -1;
	
	
	img{
		width: 47vw;
		height: auto;
	}
	
	
	@media (width > 600px) {
		
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding-inline: calc(var(--size-4)*5);
		column-gap: calc(var(--size-4) * 3);
		row-gap: calc(var(--size-4) * 2);

		img{
			width: 7vw;
			height: auto;
		}
	}

}

dialog{

	display: none;
	flex-direction: column; 
	align-items: center;
	justify-content: center;
	gap: var(--size-2);
	background-color: var(--third-color);
	pointer-events: none;
	padding: var(--size-1);


	
	#glass{
		/* position: absolute; */
		height: 30%;
		pointer-events: none;
		z-index: -1;
		opacity: 0.6;
	}
	#card{
		border: var(--border-style);
		padding: var(--size-1);
	
		
		#ingredient-list{
			display: flex;
			flex-direction: column;
			gap: var(--size-2);

			#recipe-name{
				font-family: var(--font-deco);
				font-size: var(--size-3);
				line-height: var(--size-3);
				text-transform: capitalize;
			}

			#recipe-description{
				border-bottom: var(--border-style);
				padding-block-end: var(--size-1);
			}

			#base-section, #mixer-section,#garnish-section, #scales-section{
				display: flex;
				flex-direction: column;
				gap: 0;
			}

			#scales-section{
				display: flex;
				flex-direction: row;
				gap: var(--size-1);
				border-top: var(--border-style);
				padding-block-start: var(--size-1);
			}
		}
	}

	#close, #card #ingredient-list h3{
		font-family: var(--font-mono);
		font-family: var(--font-mono);
		font-size: var(--size-0);
		line-height: var(--size-2);
		text-transform: uppercase;
		color: var(--forth-color);
	}

	

	&[open] { 
		display: flex;
		pointer-events: visible;
		width: 100vw;

	}
	
	@media (width > 600px) {
		&[open] {
			height: 100vh;
		}

		#glass{
			position: absolute;
			top: 10%;
			height: 80%;
			pointer-events: none;
			z-index: -1;
		}

	}

	&::backdrop {
		background-color: rgb(0 0 0 / 66%); /* A dark overlay. */
		pointer-events: none; /* Let clicks pass through to our `document` listener. */
	}


}
