
 @import url("https://use.typekit.net/lsj2acj.css");


:root{
	--size-0: calc((var(--size-1) * 0.8));
	--size-1: 1rem;
	--size-2: calc((var(--size-1) * 1.2));
	--size-3: calc((var(--size-1) * 1.8));
	--size-4: calc((var(--size-1) * 2));

	--border-radius-large: 1rem;
	--border-radius-small: 0.4rem;
	--border-style-1: dashed var(--primary-color) 0.06rem;
	--border-style-2: dashed var(--secondary-color) 0.06rem;
	--border-style-solid-1: solid var(--primary-color) 0.06rem;
	--border-style-solid-2: solid var(--secondary-color) 0.06rem;


	--font-mono: "attribute-mono", sans-serif;
	--font-serif: "legitima", serif;
	--font-deco: "rafaella", sans-serif;

	--primary-color: #1a0704;
	--secondary-color: #edece7;
	--third-color: #dbdbd3;
	--forth-color: #8b8b8b;

	font-size: 120%;

}

body {
    font-family: var(--font-serif);
	font-size: var(--size-1);
	padding: var(--spacing);
	height: 100vh;
	display: grid; 
	grid-template-rows: 1fr min-content;
	align-items: center;
	justify-content: center;

	animation-name: page-intro-body;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	animation-iteration-count: 1;
	animation-duration: 3000ms;
	animation-fill-mode: forwards;
	
	main{
		width: 100%;
	}
	footer{
		padding-block: var(--size-0);
		size: var(--size-0);
		color: var(--forth-color);
		text-align: center;

		a{
			text-decoration: underline;
		}

		a:hover{
			color: var(--primary-color);
		}
		animation-name: page-intro-form;
		animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
		animation-iteration-count: 1;
		animation-duration: 3000ms;
		animation-fill-mode: forwards;

		
	}

	.main-cta, .main-cta-inverted,.secondary-cta {
		corner-shape: bevel;
		border-radius: var(--border-radius-small);
		padding-inline: var(--size-2);
		padding-block: var(--size-0);
		transition: all 200ms;
		width: fit-content;
		font-weight: bold;
	}

	
	.main-cta {
		color: var(--primary-color);
		background-color: var(--third-color);
		text-align: center;	
	}
	.main-cta-inverted{
		background-color: var(--primary-color);
		color: var(--third-color);
	}
	
	.secondary-cta{
		/* background-color: var(--third-color); */
		color: var(--secondary-color);
		outline: var(--border-style-2);
		outline-offset: -0.06rem;
		
		&.hide{
			display: none;
		}
		&.show{
			display: inline;
		}
	}
	
	#close{
		font-family: var(--font-serif);
		text-transform: capitalize;
		font-size: var(--size-1);
		color: var(--third-color);
		border-bottom:  var(--border-style-2);
		outline-offset: -0.06rem;
		transition: all 200ms;
	}
	
	
	@media (width > 600px) {
		#close:hover{
			border-bottom: var(--border-style-solid-2);
		}
		
		.main-cta:hover, .main-cta-inverted:hover,.secondary-cta:hover{
			border-radius: 0%;
		}
		.secondary-cta:hover{
			outline: var(--border-style-solid-2);
		}
	}

	

}

#page-intro-container{
	position: absolute;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	
	#page-intro{
		display: flex;
		flex-direction: row;
		gap: var(--size-0);
		align-items: center;

	
		h1, img{		
			text-align: center;
			font-family: var(--font-deco);
			font-size: var(--size-4);
			line-height: 110%;
			color: var(--secondary-color);
		}
		img{
			width: 3rem;
			object-fit:contain;
		}
		animation-name: page-intro;
		animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
		animation-iteration-count: 1;
		animation-duration: 3000ms;
		animation-fill-mode: forwards;
	}


	
}

#intro, #intro form, #intro form #input section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#intro, dialog{
	flex-direction: column;
	padding: var(--size-1);
}

#intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--size-2);
	margin: auto;

	h2{
		text-align: center;
		font-family: var(--font-deco);
		font-size: var(--size-2);
		line-height: 100%;
		text-transform: capitalize;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: var(--size-1);
		align-items: center;
		
		#input{
			display: grid;
			gap: var(--size-4);
			border: var(--border-style-1);

			background-color: var(--secondary-color);
			
			corner-shape: bevel;
			border-radius: var(--border-radius-large);

			padding: var(--size-1);
			padding-block: var(--size-1);
			width: 100%;

			section{
				gap: var(--size-0);

				label{
					font-family: var(--font-mono);
					text-transform: uppercase;
					font-size: var(--size-0);
					text-align: center;
					color: var(--forth-color);
				}

				#occasion-wrapper,#occasion-wrapper #occasion, .slider #alc-scale, .slider #adv-scale{
					background-color: var(--third-color);
					width: 100%;
				}
				
				#occasion-wrapper{
					corner-shape: bevel;
					border-radius: var(--border-radius-small);

					#occasion, #occasion option{
						display: flex;
						justify-content: center;
						padding: var(--size-0);
					}

					#occasion{
						text-align: center;
						font-size: var(--size-1);
						
						option {
							background-color: var(--secondary-color);
							gap: var(--size-0);
							transition: 0.4s;
							}
	
						option:hover,
						option:focus {
							background: var(--primary-color);
							color: var(--secondary-color);
							}
						option::checkmark {
								display: none;
							}
						
					}
	
					#occasion,
						::picker(select) {
						appearance: base-select;
						corner-shape: bevel;
						border-radius: var(--border-radius-small);
						}
					#occasion::picker-icon {
						transition: 0.4s rotate;
						margin-inline-start: var(--size-0);
						}
	
					#occasion:open::picker-icon {
						rotate: 180deg;
						}
						
						::picker(select) {
							border: var(--border-style-1);
							corner-shape: bevel;
							border-radius: var(--border-radius-small);
						}
				}

/* the above is not support on mobile! https://chatgpt.com/share/69dfe6d1-dd48-83ea-a879-245f9f51301c */
				@media (width < 1000px) {

					#occasion-wrapper::after{
							content:"▾";
							color: var(--primary-color);
						}
					#occasion-wrapper{
						display: flex;
						flex-direction: row;
						padding-inline: var(--size-1);
						

						#occasion{
							appearance: none;
						}
					
					}	
				}
			}


				/* style the select ui: https://developer.mozilla.org/en-US/play?uuid=51fcdd98e419e205bd92f567e58e5957123a6df8&state=tVbdiuM2FH6Vg4aFTBtPnGEoU20mtLSUvSzsVcEXK0vHsTayJCRlkswyj1DaQi96t8%2FQm9K%2BTl%2BgfYRiy%2FI487dkoIYQSzrfOZ%2FO%2BXTkD6QOjSKULCrjmmWhARa2%2BwNYKFaigsq4q4JYDJlHhTwUZPm2ewGLgS5mnVWCRBOQ4j4krgMsyk0IRg%2FjAYOCGx1Qh%2BVidn9mAM8G9DBlbJBGwzVTG7wqSEGW3ytkHqGnwlqai1k0Wz4F42xMsiVlmQaumPdXBZHc6IIAc5JltRQC9VVBgttgQZb%2Ffvz598WsNb9DLw%2FhMVbWJaogy29YiIDRvj5BT5jVy%2Bn9cRy9b83qWHo1a3xA93KKfx1H8U2MdyxNXku%2BRv1ymr8eWegY71ialfT1yzl%2BPI7jd9LXxxL0mq3x5Qx%2FPI7h2zba8xRTx4j9a9Y2sMWsb2hkSrj3hJJoMi00pbati5vEmVP40MKYtcgc0xwplMxj37peF%2Fq20J9Fm9LsMi9vpF5RKI0T6LLS7KJJodtOGu0qo0NWsUaqPYWCvEF1jUFyVpApFORrJ5lqXz3TPvPoZJVclEbso4utFKGmMM%2FzV6%2FbsWVCdHFzmOd21801bJf1dheXd5NuJXVrxzbBDNzOR8y8vEEK87Nzh00ysHFdSG8V21OoFEZ%2FK2ZpCtlZxlthTLKSIetbdQdhSq50m7%2BKAkcd0CVs35MjFYU7CvO4NF6ImaVwbnfgjZICTkT3dM5LxtcrZzZaUDjB7jlM0JCe4Jj2spUJhfzswh%2BSoLW5RjcdhpXhG98TGIcYQg8sk36yVucRwY0yjsLJl93zaHRwJrCAB46MRf2It2hJYX6ZC1xFxOOiTanSRvee%2B6P6RDHfb3yQ1T5VK65kPjAX7op9HhP4%2F5cicqWVdD5kpsrC3uJ4X5ljQm48hUu763455KmIPVaxT0BzyBM8QZ9L5TjkvVDahMkjUQ%2FhpQnBNA8LQnWoE2JihDh9qLRtLZM8BlTSaMrU4xq1atMcVP%2FsTksHB%2F6LeOABAu5C27ooBCeblnUNnFlgytasbHvVWKfDh9jY8SCuB1vlNfI1ilH8LcpVHdqeqcSBabRtmFtH615u81EnyxRWgaZm1h61XroF%2Bfu3X%2F7586eCPHdCjGVchj3tlHMoRKZUPJlMKbPNhPTcYSrBwdl8wmXfu77qzo%2FUq8yHvepl%2BAz%2BAanbZ%2FgHYylwpviEaV4bN4kKO4XPYW53px2%2Bz1Bcn%2BevThOvjbXGBQ%2FaBJg8ccEN%2BhV7SkusjMNEc5TqH8zGQenM1qMDYTD67APAuyd8vzvrihN9dR2yVIyv%2B6k7CWf96rZGFvpVa1KdKrlD0c%2FGreb9yEVZpWGXq4v%2BwuxF3t1Fo2uocz30J4fNgL7JpBbpSkpFIVPyvv14IFMSamyQUKLaoOT2Pw%3D%3D&srcPrefix=%2Fen-US%2Fdocs%2FLearn_web_development%2FExtensions%2FForms%2FCustomizable_select%2F */
				.slider #alc-scale, .slider #adv-scale{
					height: var(--size-0);
					margin-block-end: var(--size-0);
				}

				/* styling the thumb: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_rangeslider */
				#alc-scale::-webkit-slider-thumb, #adv-scale::-webkit-slider-thumb {
						appearance: none;
						width: var(--size-3);
						height: var(--size-3);
						background: var(--primary-color);
						cursor: grab;
						corner-shape: bevel;
						border-radius: var(--border-radius-small);
					}
				/* for firefox */
				#alc-scale::-webkit-slider-thumb, #adv-scale::-moz-range-thumb {
						appearance: none;
						width: var(--size-3);
						height: var(--size-4);
						background: var(--primary-color);
						cursor: grab;
						corner-shape: bevel;
						border-radius: var(--border-radius-small);
				}

					.slider{
						width: 100%;
						display: flex;
						flex-direction: column;
						gap: calc(var(--size-0)*0.5);
		
						#alc-micro-copy, #adv-micro-copy{
							display: grid;
							grid-template-columns: repeat(3, 1fr);
							justify-content: center;
							width: 100%;
							font-size: var(--size-0);
							color: var(--forth-color);
							

							p:nth-child(2){
								text-align: center;
							}
							p:nth-child(3){
								text-align: right;
							}
						}
					}
			}

		}
		
		animation-name: page-intro-form;
		animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
		animation-iteration-count: 1;
		animation-duration: 3000ms;
		animation-fill-mode: forwards;

		
	}

	@media (width > 400px) {
		form{

			width: clamp(20rem, 50vw, 26rem);
		}
		}





dialog{
	height: max-content;
	min-height: 100vh;

	display: none;
	flex-direction: column; 
	align-items: center;
	justify-content: center;

	gap: var(--size-1);
	background-color: var(--primary-color);
	pointer-events: none;

	#card-buttons{
		display: flex;
		gap: var(--size-0);
	}
	
	#card{
		/* border: var(--border-style); */
		padding: var(--size-3);
		margin: var(--size-0);
		width: 100%;
		opacity: 1;
		background-color: var(--third-color);
		corner-shape: bevel;
		border-radius:  var(--border-radius-large);
		outline: var(--border-style-solid-1);
  		outline-offset: calc(var(--size-0) * -1);

		@media (width > 400px) {
			width: clamp(20rem, 50vw, 26rem);
	
		}
		
		&.highlight {
				animation-name: highlight-transition;
				animation-duration: 1200ms;
				animation-iteration-count: 1;
				animation-fill-mode: forwards; /* Keep the final state of the animation. */
			}
		
		#ingredient-list{
			display: flex;
			flex-direction: column;
			height: max-content;

			#recipe-name, #recipe-description{
				text-transform: capitalize;
				padding-block-end: var(--size-1);
			}
			h2{
				font-family: var(--font-deco);
				font-size: var(--size-3);
				line-height: var(--size-3);
			}
			
			#recipe-description{
				font-size: var(--size-2);
				border-bottom: var(--border-style-solid-1);
			}

			#mobile-glass{
					position: absolute;
					height: 100%;
					scale: 0.85;
					opacity: 0.6;

					pointer-events: none;
					z-index: -1;
					margin: calc(var(--size-1)* -1);
					
					@media (width > 600px) {
							display: none;
					}
				}

			#ingredients-img{
				height: min-content;
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				padding-block: var(--size-1);
	
				
				#desktop-glass{
					display: none;
					pointer-events: none;
					z-index: 1;
					opacity: 0;
				}
				@media (width > 600px) {
					#desktop-glass{
						display: flex;
						max-height: 11rem;
						opacity: 1;
					}
				}

				#ingredients{
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					gap: var(--size-1);
	
					#base-section, #mixer-section,#garnish-section, #scales-section{
						display: flex;
						flex-direction: column;
						gap: 0;
					}

				@media (width > 600px) {
					grid-template-columns: repeat(1, 1fr);
				}
				}
	
			}
			#scales-section{
					display: flex;
					flex-direction: row;
					gap: var(--size-1);
					border-top: var(--border-style-solid-1);
					padding-block-start: var(--size-1);
				}
				
				
			#error-state{
				background-color: var(--primary-color);
				color: var(--secondary-color);

				padding: var(--size-1);
				margin: calc(var(--size-1)* -1);
				
				display: flex;
				flex-direction: column;
				gap: var(--size-2);
				
				#error-state, p{
					color: var(--forth-color);
				}
				#error-statement{
					color: var(--forth-color);
					font-family: var(--font-serif);
					text-transform: none;
					font-size: var(--size-2);
				}

			}

		}
}

	#card #ingredient-list h3, #card #ingredient-list #error-state p{
		font-family: var(--font-mono);
		text-transform: uppercase;
		color: var(--forth-color);
		font-size: var(--size-0);
	}

	#close, #card #ingredient-list h3, #card #ingredient-list #error-state p{
		line-height: var(--size-2);
	}
	

	&[open] { 
		display: flex;
		pointer-events: visible;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
	}
	
	@media (width > 600px) {
		&[open] {
			height: 100vh;
		}


	}

	&::backdrop {
		background-color: rgb(0 0 0 / 66%); /* A dark overlay. */
		pointer-events: none; /* Let clicks pass through to our `document` listener. */
	}


}



@keyframes highlight-transition {
				0% {
					transform: translateY(var(--size-0));
					opacity: 0.5;
				}
				100% {
					transform: translateY(0);
					opacity: 1;
				}
			}


@keyframes page-intro-body {
				0% {
					background-color: var(--primary-color);
				}

				75% {
					background-color: var(--primary-color);
				}


				100% {
					background-color: var(--third-color);
				}
}

@keyframes page-intro {
				0% {
					opacity: 1;
				}

				60% {

					opacity: 1;
				}

				90% {
		
					opacity: 0;
				}

				100% {
		
					opacity: 0;
				}
			}

@keyframes page-intro-form {
				0% {
					transform: translateY(var(--size-0));
					opacity: 0;
				}

				70% {
					transform: translateY(var(--size-0));
					opacity: 0;
				}
				100% {
					transform: translateY(0);
					opacity: 1;
				}
			}

