/* Some basics to make it easier to read. */
body {
	--spacing: 2em;
    font-family: Arial, Helvetica, sans-serif;
	display: grid;
	gap: var(--spacing);
	margin: initial;
	padding: var(--spacing);
}

form {
	background-color: whitesmoke;
	border-radius: calc(var(--spacing) / 2);
	display: grid;
	gap: var(--spacing);
	padding: var(--spacing);
	
}

canvas{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgb(203, 240, 255);
	z-index: -1;
}